streamlit
transformers
torch
nltk
sentencepiece
git+https://github.com/boudinfl/pke.git
flashtext==2.7
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz
